<div class="container-fluid d-flex min-vh-100 flex-column " >
    <div class="row  flex-fill  d-flex wallpaper">
        <div class="col portlet-container portlet-dropzone " style="background-color: black; opacity:80%;  ">
            <div class="letters">INCREASE YOUR RESULTS</div> 
        </div>
    </div>
    <!--<div class="fixed-bottom center white">
        <p><b>© E-referee.com 2020</b> <a>Privacy Policy</a><a>Terms & Conditions</a></p>
    </div>-->
</div>
    <!-- Footer -->
	<section id="footer">
		<div class="container">
			<h5>E-referee</h5>
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="./"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="./leagues"><i class="fa fa-angle-double-right"></i>Leagues</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="./services"><i class="fa fa-angle-double-right"></i>Services</a></li>
						<li><a href="./about"><i class="fa fa-angle-double-right"></i>About</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li><a href="./contact" ><i class="fa fa-angle-double-right"></i>Contact</a></li>
						<li><a href="./login"><i class="fa fa-angle-double-right"></i>Login</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-1 mt-sm-2">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="./contact" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>&copy All right Reversed.<a class="text-green ml-2" href="#" target="_blank">E-referee</a></p>
				</div>

			</div>	
		</div>
	</section>
	<!-- ./Footer -->

